{% extends 'base.html.twig' %}

{% block title %}Modifier Classe{% endblock %}
{% block body %}
<div class="main-content">
	{% for message in app.flashes('ERREUR') %}
        <script>
        	function erreur(){
				swal('Refusé', '{{ message }}', 'error')
			}
        	window.onload = erreur;
           // jWarning('{{ message }}', 'Notification', function(r) {});
        </script>
     {% endfor %}
     {% for message in app.flashes('SUCCESS') %}
      	<script>
      		function success(){
		// alert('ok')
		swal('Réussie', '{{ message }}', 'success')
	}
        	window.onload = success;
         // jMessage('{{ message }}', 'Notification', function(r) {});
      </script>
    {% endfor %}
    <section class="section">
      	<div class="section-body">
        	<div class="row">
          	<!-- <div class="col-12 col-md-6 col-lg-6"> -->
          		<div class="col-md-1"></div>
				<div class="col-md-10 card">
					<form action="" method="post">
				  		<div class="card-header">
				    		<h4>Modification Classe</h4>
				  		</div>
				  		<div class="form-group">
				      		<label for="inputAddress">Niveau</label>
				      		<select type="text" name="niveau" class="form-control" id="inputAddress" required>
				      			<option value="{{idNiveau}}">{{libelleNiveau}}</option>
				      			{% for list in niveaux %}
				      			<option value="{{list.idNiveau}}">{{list.codeNiveau}} {{list.libelleNiveau}}</option>
				      			{% endfor %}
				      		</select>
				    	</div>
				  		<div class="card-body">
				    		<div class="form-row">
				      			<div class="form-group col-md-4">
				        			<label for="inputEmail4">Code</label>
				        			<input type="text" name="code" value="{{code}}" class="form-control" id="nom" placeholder="Code Classe" >
				      			</div>
				      			<div class="form-group col-md-4">
				        			<label for="inputPassword4">Libelle</label>
				       			 	<input type="text" name="libelle" value="{{libelle}}" class="form-control" id="prenom" placeholder="Libelle Classe" required>
				      			</div>
				      			<div class="form-group col-md-4">
				        			<label for="inputPassword4">Place</label>
				       			 	<input type="text" name="place" value="{{place}}" class="form-control" id="place" placeholder="Nombre place" required>
				      			</div>
				    		</div>
				  		</div>
				  		<div class="card-footer">
				    		<a href="{{path('listeclasse')}}" class="btn btn-warning">Retour</a>
				    		<button type="submit" class="btn btn-primary">Modifier</button>
				  		</div>
			  		</form>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</section>
</div>
{% endblock %}
{% block javascript %}

{% endblock %}