{% extends 'base.html.twig' %}

{% block title %}Liste inscription{% endblock %}
{% block body %}
<div class="main-content">
  {% for message in app.flashes('ERREUR') %}
        <script>
          function erreur(){
        swal('Refusé', '{{ message }}', 'error')
      }
          window.onload = erreur;
           // jWarning('{{ message }}', 'Notification', function(r) {});
        </script>
     {% endfor %}
     {% for message in app.flashes('SUCCESS') %}
        <script>
          function success(){
    // alert('ok')
    swal('Réussie', '{{ message }}', 'success')
    }
          window.onload = success;
         // jMessage('{{ message }}', 'Notification', function(r) {});
      </script>
  {% endfor %}
     <div class="section-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4>Recherche</h4>
            </div>
            <form action="{{path('listeinscription')}}" method="post" enctype="multipart/form-data">
              <div class="form-row">
                <div class="col-md-4"></div>
                <div class="form-inline col-md-4">
                    <label for="inputEmail4">Classe</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <select type="classe" class="form-control" name="classe">
                        <option value="">Merci de choisir une classe</option>
                        {% for liste in classes %}
                        <option value="{{liste.idClasse.idClasse}}">{{liste.idClasse.libelleClasse}}</option>
                        {% endfor %}
                    </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary form-control" value="recherche" name="valider">Rechercher</button>
                </div>
                <div class="col-md-4"></div> 
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% if inscrits is defined %}
    <div class="section-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4>Liste des élèves</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped" id="tableExport">
                  <thead>
                    <tr>
                      <th class="text-center">#</th>
                      <th>Annee</th>
                      <th>Eleve</th>
                      <th>Sexe</th>
                      <th>Classe</th>
                      <th>Date inscription</th>
                      {% if app.user.idProfil.idProfil == 4 %}
                      <th>Action</th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                    {% set count = 1 %}
                    {% for liste in inscrits %}
                    <tr>
                      <td>{{count}}</td>
                      <td><div class="badge badge-success badge-shadow">{{liste.idAnnee.libelleAnnee}}</div></td>
                      <td>{{liste.idEleve.matriculeEleve}} {{liste.idEleve.nomEleve}} {{liste.idEleve.prenomEleve}}</td>
                      <td>{{liste.idEleve.sexe}}</td>
                      <td>{{liste.idClasse.libelleClasse}}</td>
                      <!-- <td class="align-middle">
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-success width-per-90"></div>
                        </div>
                      </td> -->
                      <td>{{liste.dateAjout|date('d-m-Y')}}</td>
                      {% if app.user.idProfil.idProfil == 4 %}
                      <td><a href="#" data-toggle="modal" data-target="#exampleModal{{liste.idInscription}}" title="Ajout absence"><span class="badge badge-success badge-shadow">Absent</span></a></td>
                      {% endif %}
                        <!-- basic modal -->
                        <div class="modal fade" id="exampleModal{{liste.idInscription}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                          aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <form action="{{path('ajoutabsence')}}" method="post">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModal">Absence</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <div class="form-row">
                                     <div class="col-md-2"></div>
                                      <div class="form-group col-md-4">
                                          <label for="inputEmail4">Heure</label>
                                          <select type="text" name="heure" class="form-control">
                                            <option value=""></option>
                                            {% for heure in heures %}
                                            <option value="{{heure.idHeure}}">{{heure.libelleHeure}}</option>
                                            {% endfor %}
                                          </select>
                                      </div>
                                      <div class="form-group col-md-4">
                                        <label for="inputEmail4">File</label>
                                        <textarea type="text" class="form-control" name="commentaire"></textarea>
                                        <input type="hidden" value="{{liste.idEleve.idEleve}}" name="id">
                                      </div>
                                      <div class="col-md-2"></div>
                                  </div>
                                </div>
                                <div class="modal-footer bg-whitesmoke br">
                                  <button type="submit" class="btn btn-primary" value="modif" name="valider">Valider</button>
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                    </tr>
                    {% set count = count + 1 %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div> 
</div>
<script>
    // function detail(id){
    //     //var id = $('#iddepot').val();
    //     console.log(id);
    //     var parametros = {'id':id};
    //     $.ajax({
    //         url:'/detail',
    //         type:"POST",
    //         dataType:"json",
    //         data:parametros,
    //         async:true,
    //         success: function(response){
    //             console.log(response);
    //             if("REQUETE" == response){
    //                 $("#details").html("<td>Aucun resultat trouvé</td>");
    //             }else{
    //                 $("#details").html(response);
    //             }
    //         }
    //     })
    // }

    function desattribuer(id){
        //var id = $('#iddepot').val();
        console.log(id);
        var parametros = {'id':id};
        $.ajax({
            url:'/desattribuer',
            type:"POST",
            dataType:"json",
            data:parametros,
            async:true,
            success: function(response){
                console.log(response);
                if("REQUETE" == response){
                    $("#idDesattribuer").html("<td colspan='4'>Aucun resultat trouvé</td>");
                }else{
                    $("#idDesattribuer").html(response);
                }
            }
        })
    }
</script>
{% endblock %}